/* Elements are resized according to their outer dimensions */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#route_map {
    border: 2px solid black;
    width: 80vw;
    height: 80vh;
}